pyTelegramBotAPI==4.10.0
Pillow==9.4.0
path==16.6.0
paramiko==3.5.1
pandas==2.0.1
plotly==5.14.1
numpy==1.24.3
yookassa
aiohttp==3.8.3
aiosqlite==0.19.0
aiogram==2.25.1
pydantic
cryptomusapi==1.0.1
flask==2.3.1
flask-httpauth==4.8.0
pyyaml==6.0
pandas
aiohttp
openpyxl
xlsxwriter
remnawave==2.1.1
